[alias]
    aa = add -A
    cm = commit -m
    pod = push origin develop
    pom = push origin main
    b = branch
    d = diff
    sw = switch
    re = restore
    st = stash
    me = merge
    l = log
    s = status
    ss = status -s
